@charset "UTF-8";
/* .header{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
} */
.nav__logo {
  flex: 0 0 60px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 9;
}

.nav__logo img {
  max-width: 100%;
  display: block;
}

.nav::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* 	background-color: grey; */
  z-index: 10;
}

.nav__body {
  padding: 0 20px;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}

.nav__list {
  position: relative;
  z-index: 11;
  display: flex;
}
.nav__list li {
  margin: 0 0 0 20px;
}
.nav__list li a {
  font-family: "PT Sans", sans-serif;
  color: white;
  font-size: 20px;
}

.nav__burger.active span {
  display: none;
}

.nav__burger.active::before {
  top: 9px;
  transform: rotate(45deg);
}

.nav__burger.active::after {
  bottom: 9px;
  transform: rotate(-45deg);
}

.nav__burger {
  display: none;
}

@media (max-width: 767px) {
  .nav__logo {
    flex: 0 0 40px;
  }

  body.lock {
    overflow: hidden;
  }

  .nav__body {
    height: 50px;
  }

  .nav__burger {
    position: relative;
    z-index: 11;
    display: block;
    position: relative;
    height: 20px;
    width: 30px;
  }
  .nav__burger span {
    transition: all 0.3s ease;
    background-color: white;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
  }
  .nav__burger::before, .nav__burger::after {
    z-index: 11;
    transition: all 0.3s ease;
    content: "";
    background-color: white;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
  }
  .nav__burger::before {
    top: 0;
  }
  .nav__burger::after {
    bottom: 0;
  }

  .nav__menu {
    z-index: 10;
    overflow: auto;
    transition: 0.3s all ease;
    top: -150%;
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../img/burger-menu/fon.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    padding: 70px 0 0 0;
  }

  .nav__burger.active {
    top: 20px;
    left: 0;
  }
  .nav__burger.active span {
    background-color: black;
  }
  .nav__burger.active::before {
    background-color: black;
  }
  .nav__burger.active::after {
    background-color: black;
  }

  .nav__menu.active {
    top: 0;
  }

  .nav__list {
    flex-direction: column;
    align-items: center;
  }
  .nav__list li {
    padding: 0 0 40px 0;
    margin: 0 0 40px 0;
  }
  .nav__list li a {
    font-size: 24px;
  }

  .menu__list {
    padding-top: 200px;
  }
}
.scroll_up {
  position: fixed;
  right: 5px;
  bottom: 5px;
  z-index: 2;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  color: #dcdcdc;
  cursor: pointer;
  visibility: hidden;
  box-shadow: inset 0 0 0 4px #dcdcdc;
  opacity: 0;
  transition: all 0.3s ease;
  transform: transleteY(25px);
}
.scroll_up:hover {
  color: lightseagreen;
}
.scroll_up::before {
  content: "↑";
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 20px;
}
.scroll_up.active {
  visibility: visible;
  opacity: 1;
  transform: transleteY(0);
}
.scroll_up__path {
  box-sizing: border-box;
  fill: none;
  stroke: lightseagreen;
  stroke-width: 4px;
  transition: 0.2s all ease;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/* SCSS Миксин для шрифта */
.block-img {
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: black;
}
.block-img img {
  z-index: -1;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
.block-img .block-text {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
}
.block-img .block-text .content__text {
  position: relative;
  flex-direction: column;
  max-width: 500px;
  display: flex;
  text-align: center;
  opacity: 0;
  color: white;
  font-size: calc(20px + 10 * ((100vw - 320px) / (1280 - 320)));
}
.block-img .block-text:hover .content__text {
  transition: 0.5s ease;
  opacity: 1;
}

.content__text-title {
  font-size: calc(20px + 10 * ((100vw - 320px) / (1280 - 320)));
  /* margin-bottom: 20px; */
}

.content__text-subtitle {
  font-size: calc(12px + 5 * ((100vw - 320px) / (1280 - 320)));
  text-align: justify;
  padding: 0 20px;
}

.countrieDesk {
  transition: 0.5s ease;
  display: block;
  opacity: 0;
  position: absolute;
  bottom: 10px;
  right: 0;
  border: none;
  width: 250px;
  background: #298cad;
  color: white;
  font-size: calc(12px + 5 * ((100vw - 320px) / (1280 - 320)));
  text-transform: uppercase;
  display: block;
  text-align: center;
  line-height: 48px;
}
.countrieDesk a {
  color: white;
}

.content__niderland:hover .img-countries {
  transform: scale(1.2);
  filter: blur(1px);
  opacity: 0.5;
}

.content__mald:hover .wrapper-img:hover .block-img img {
  transform: scale(1.2);
  filter: blur(1px);
  opacity: 0.5;
}

.content__vengr:hover .wrapper-img:hover .block-img img {
  transform: scale(1.2);
  filter: blur(1px);
  opacity: 0.5;
}

.content__mram:hover .wrapper-img:hover .block-img img {
  transform: scale(1.2);
  filter: blur(1px);
  opacity: 0.5;
}

.content__NY:hover .wrapper-img:hover .block-img img {
  transform: scale(1.2);
  filter: blur(1px);
  opacity: 0.5;
}

.content__kanada:hover .wrapper-img:hover .block-img img {
  transform: scale(1.2);
  filter: blur(1px);
  opacity: 0.5;
}

.content__title {
  font-family: "Caveat", cursive;
  font-size: calc(40px + 15 * ((100vw - 320px) / (1280 - 320)));
  transition: 0.5s ease;
  position: absolute;
  top: 20px;
  color: white;
  left: 10%;
  opacity: 1;
}

.wrapper-img:hover .content__title {
  transition: 0.5s ease;
  opacity: 0;
}

.wrapper-img:hover .countrieDesk {
  transition: 0.5s ease;
  opacity: 1;
}

.wrapper-img {
  margin: 20px;
}

@media (max-width: 767px) {
  .content__title {
    margin-bottom: -40px;
  }

  .content__text {
    padding: 0;
    margin-bottom: 0px;
  }

  .countrieDeskOther {
    left: 12.5%;
  }

  .countrieDesk {
    width: 150px;
    line-height: 24px;
  }
}
.scene {
  z-index: 0;
  overflow: hidden;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  min-height: 100vh;
}

.layer {
  position: absolute;
  left: -10%;
  top: 0;
  width: 110%;
  height: 100%;
}

.layer-bg {
  background: url("../img/parralax/fonl.png") center no-repeat;
  background-size: cover;
}

.layer-girl {
  left: -30%;
  background: url("../img/parralax/girl.png") center no-repeat;
  background-size: contain;
}

.nav {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.3s ease;
}
.nav .last {
  color: aqua;
}

.nav.out {
  transform: translateY(-100%);
}

.block__item {
  margin-bottom: 20px;
}
.block__title {
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  padding: 0 0 0 30px;
}
.block__text {
  display: none;
  padding: 10px 0 0 0;
}

.block__title.active::before,
.block__title.active::after {
  background-color: red;
}

.block__title.active::before {
  transform: rotate(-40deg);
}

.block__title.active::after {
  transform: rotate(40deg);
}

.block__title::before,
.block__title::after {
  transition: all 0.3s ease;
  content: "";
  width: 10px;
  height: 1px;
  background-color: black;
  position: absolute;
  top: 8px;
}

.block__title::before {
  transform: rotate(40deg);
  left: 0;
}

.block__title::after {
  transform: rotate(-40deg);
  left: 7px;
}

.popup {
  position: fixed;
  color: white;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}

.popup__content {
  position: relative;
  background-color: white;
  color: black;
  max-width: 800px;
  padding: 30px;
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}

.popup.open .popup__content {
  opacity: 1;
  transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
}

.popup__close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 15px;
  height: 15px;
  opacity: 0.3;
}

.popup__close:hover {
  opacity: 1;
}

.popup__close:before, .popup__close:after {
  position: absolute;
  /* left: 15px; */
  content: " ";
  height: 20px;
  width: 2px;
  background-color: #333;
}

.popup__close:before {
  transform: rotate(45deg);
}

.popup__close:after {
  transform: rotate(-45deg);
}

.popup__title {
  text-align: center;
  font-size: 40px;
  /* margin: 0 0 40px 0; */
}

body.lock {
  overflow: hidden;
}

.links {
  margin-top: 40px;
}

@media (max-width: 450px) {
  .popup__content {
    width: 300px;
  }
}
.block-form {
  padding: 20px;
  width: 400px;
}
.block-form .tab-form {
  padding: 30px 20px;
  display: none;
}
.block-form .tab-form.active {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.block-form .tab-form input {
  display: block;
  width: 100%;
}
.block-form label.tab {
  font-size: 25px;
  cursor: pointer;
  color: #000;
  font-weight: 600px;
  padding: 15px;
  display: inline-block;
  border-radius: 3px 3px 0 0;
  margin-bottom: -1px;
}
.block-form label.tab.active {
  background-color: white;
  color: royalblue;
}

.input {
  font-size: 16px;
  border: none;
  border-bottom: 1px solid royalblue;
  padding: 12px 14px;
  margin-bottom: 22px;
  color: royalblue;
  outline: none;
}

.tab-button button {
  border: none;
  width: 100%;
  background: #298cad;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  line-height: 48px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.tab-link {
  transition: 0.5s ease;
  margin-top: 40px;
  display: block;
  font-size: 12px;
  text-align: center;
  color: #000;
}
.tab-link:hover {
  color: cornflowerblue;
}

.inputBox {
  margin-top: 20px;
  position: relative;
}

.tab-labelText {
  color: cornflowerblue;
  transition: 0.3s;
  position: absolute;
  line-height: 50px;
  font-size: 18px;
}

.focus .tab-labelText {
  color: #000;
  transform: translateY(-30px);
  font-size: 14px;
}

.input {
  position: relative;
  height: 50px;
  background-color: rgba(142, 255, 242, 0);
  font-size: 16px;
  border: none;
  outline: none;
  border-bottom: 1px solid cornflowerblue;
  padding: 12px 14px;
  box-sizing: border-box;
  margin-bottom: 22px;
  color: cornflowerblue;
  outline: none;
}

.recover {
  width: 300px;
  margin: 0 auto;
  margin-top: 15px;
  font-size: 12px;
}

label[for=ckbox] {
  text-align: center;
  padding: 0;
  font-size: 16px;
  cursor: pointer;
  width: 300px;
  display: block;
  position: relative;
}
label[for=ckbox]::before {
  content: "";
  position: absolute;
  border: 2px solid #c4c9c9;
  width: 18px;
  height: 18px;
  top: 0;
  left: 0;
  border-radius: 3px;
  transition: 0.2s;
}
label[for=ckbox] a {
  transition: 0.5s ease;
  color: #000;
}
label[for=ckbox] a:hover {
  transition: 0.5s ease;
  color: cornflowerblue;
}

#ckbox:checked + label::before {
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid lime;
  border-bottom: 2px solid lime;
  transform: rotate(40deg);
  width: 12px;
  height: 22px;
  transform-origin: 100% 100%;
  top: -4px;
  left: -5px;
}

#ckbox:not(:checked),
#ckbox:checked {
  display: none;
}

@media (max-width: 450px) {
  .block-form {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .block-form .tab {
    text-align: center;
    width: 100%;
    padding: 0;
  }
  .block-form .tab-form {
    padding: 0px 20px 20px 20px;
  }
  .block-form .tab-labelText {
    width: 100%;
    font-size: 16px;
  }
  .block-form .inputBox .focus .tab-labelText {
    font-size: 13px;
  }
  .block-form .tab-button {
    padding: 0px 0px 20px 0px;
  }
  .block-form .recover {
    text-align: justify;
    margin: 0 auto;
    width: 100px;
    height: 100px;
  }
  .block-form .recover label[for=ckbox] {
    text-indent: 20px;
    width: 100%;
    height: 100%;
  }
}
.orderToor__body {
  margin: 50px 0 100px 0;
}

.orderToor__title {
  width: 100%;
  text-align: center;
}

.order-form {
  margin: 0 auto;
  width: 100%;
}

.order-button button {
  border-radius: 20px;
  margin: 0 auto;
  width: 200px;
  margin-top: 80px;
}

.orderToor-block {
  display: flex;
  justify-content: space-between;
}

.tab-order {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  width: 170px;
}

.fas {
  padding: 0 0 0 10px;
}

.select-countrie {
  margin: 0 auto;
  width: 60%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.slider__title {
  margin-top: -80px;
  padding: 0;
  font-size: 40px;
  padding-bottom: 40px;
  text-align: center;
  color: black;
}

.slider-labelText {
  color: #000;
}

.select-countrie label {
  font-size: 16px;
}

.select-countrie select {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0 0 0 30px;
  text-align: center;
  border-radius: 5px;
  color: royalblue;
  height: 40px;
}

.slider__itemFirst {
  background: url("../img/slider/bus.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}

.slider__itemSecond {
  background: url("../img/slider/train.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}

.slider__itemThird {
  background: url("../img/slider/plane.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}

@media (max-width: 700px) {
  .select-countrie {
    flex-direction: column;
  }

  .slider__item {
    max-height: 430px;
    overflow: auto;
  }

  .orderToor-block {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.datepicker--cells {
  display: flex;
  flex-wrap: wrap;
}

.datepicker--cell {
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 32px;
  z-index: 1;
}

.datepicker--cell.-focus- {
  background: #f0f0f0;
}

.datepicker--cell.-current- {
  color: #4EB5E6;
}

.datepicker--cell.-current-.-focus- {
  color: #4a4a4a;
}

.datepicker--cell.-current-.-in-range- {
  color: #4EB5E6;
}

.datepicker--cell.-in-range- {
  background: rgba(92, 196, 239, 0.1);
  color: #4a4a4a;
  border-radius: 0;
}

.datepicker--cell.-in-range-.-focus- {
  background-color: rgba(92, 196, 239, 0.2);
}

.datepicker--cell.-disabled- {
  cursor: default;
  color: #aeaeae;
}

.datepicker--cell.-disabled-.-focus- {
  color: #aeaeae;
}

.datepicker--cell.-disabled-.-in-range- {
  color: #a1a1a1;
}

.datepicker--cell.-disabled-.-current-.-focus- {
  color: #aeaeae;
}

.datepicker--cell.-range-from- {
  border: 1px solid rgba(92, 196, 239, 0.5);
  background-color: rgba(92, 196, 239, 0.1);
  border-radius: 4px 0 0 4px;
}

.datepicker--cell.-range-to- {
  border: 1px solid rgba(92, 196, 239, 0.5);
  background-color: rgba(92, 196, 239, 0.1);
  border-radius: 0 4px 4px 0;
}

.datepicker--cell.-selected-, .datepicker--cell.-selected-.-current- {
  color: #fff;
  background: #5cc4ef;
}

.datepicker--cell.-range-from-.-range-to- {
  border-radius: 4px;
}

.datepicker--cell.-selected- {
  border: none;
}

.datepicker--cell.-selected-.-focus- {
  background: #45bced;
}

.datepicker--cell:empty {
  cursor: default;
}

.datepicker--days-names {
  display: flex;
  flex-wrap: wrap;
  margin: 8px 0 3px;
}

.datepicker--day-name {
  color: #FF9A19;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8em;
}

.-only-timepicker- .datepicker--content, .datepicker--body, .datepicker-inline .datepicker--pointer {
  display: none;
}

.datepicker--cell-day {
  width: 14.28571%;
}

.datepicker--cells-months {
  height: 170px;
}

.datepicker--cell-month {
  width: 33.33%;
  height: 25%;
}

.datepicker--cells-years, .datepicker--years {
  height: 170px;
}

.datepicker--cell-year {
  width: 25%;
  height: 33.33%;
}

.datepickers-container {
  position: absolute;
  left: 0;
  top: 0;
}

@media print {
  .datepickers-container {
    display: none;
  }
}
.datepicker {
  background: #fff;
  border: 1px solid #dbdbdb;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-sizing: content-box;
  font-family: Tahoma, sans-serif;
  font-size: 14px;
  color: #4a4a4a;
  width: 250px;
  position: absolute;
  left: -100000px;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0.3s;
  z-index: 100;
}

.datepicker.-from-top- {
  transform: translateY(-8px);
}

.datepicker.-from-right- {
  transform: translateX(8px);
}

.datepicker.-from-bottom- {
  transform: translateY(8px);
}

.datepicker.-from-left- {
  transform: translateX(-8px);
}

.datepicker.active {
  opacity: 1;
  transform: translate(0);
  transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0s;
}

.datepicker-inline .datepicker {
  border-color: #d7d7d7;
  box-shadow: none;
  position: static;
  left: auto;
  right: auto;
  opacity: 1;
  transform: none;
}

.datepicker--content {
  box-sizing: content-box;
  padding: 4px;
}

.datepicker--pointer {
  position: absolute;
  background: #fff;
  border-top: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  width: 10px;
  height: 10px;
  z-index: -1;
}

.datepicker--nav-action:hover, .datepicker--nav-title:hover {
  background: #f0f0f0;
}

.-top-center- .datepicker--pointer, .-top-left- .datepicker--pointer, .-top-right- .datepicker--pointer {
  top: calc(100% - 4px);
  transform: rotate(135deg);
}

.-right-bottom- .datepicker--pointer, .-right-center- .datepicker--pointer, .-right-top- .datepicker--pointer {
  right: calc(100% - 4px);
  transform: rotate(225deg);
}

.-bottom-center- .datepicker--pointer, .-bottom-left- .datepicker--pointer, .-bottom-right- .datepicker--pointer {
  bottom: calc(100% - 4px);
  transform: rotate(315deg);
}

.-left-bottom- .datepicker--pointer, .-left-center- .datepicker--pointer, .-left-top- .datepicker--pointer {
  left: calc(100% - 4px);
  transform: rotate(45deg);
}

.-bottom-left- .datepicker--pointer, .-top-left- .datepicker--pointer {
  left: 10px;
}

.-bottom-right- .datepicker--pointer, .-top-right- .datepicker--pointer {
  right: 10px;
}

.-bottom-center- .datepicker--pointer, .-top-center- .datepicker--pointer {
  left: calc(50% - 10px / 2);
}

.-left-top- .datepicker--pointer, .-right-top- .datepicker--pointer {
  top: 10px;
}

.-left-bottom- .datepicker--pointer, .-right-bottom- .datepicker--pointer {
  bottom: 10px;
}

.-left-center- .datepicker--pointer, .-right-center- .datepicker--pointer {
  top: calc(50% - 10px / 2);
}

.datepicker--body.active {
  display: block;
}

.datepicker--nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #efefef;
  min-height: 32px;
  padding: 4px;
}

.-only-timepicker- .datepicker--nav {
  display: none;
}

.datepicker--nav-action, .datepicker--nav-title {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.datepicker--nav-action {
  width: 32px;
  border-radius: 4px;
  -webkit-user-select: none;
  user-select: none;
}

.datepicker--nav-action.-disabled- {
  visibility: hidden;
}

.datepicker--nav-action svg {
  width: 32px;
  height: 32px;
}

.datepicker--nav-action path {
  fill: none;
  stroke: #9c9c9c;
  stroke-width: 2px;
}

.datepicker--nav-title {
  border-radius: 4px;
  padding: 0 8px;
}

.datepicker--buttons, .datepicker--time {
  border-top: 1px solid #efefef;
  padding: 4px;
}

.datepicker--nav-title i {
  font-style: normal;
  color: #9c9c9c;
  margin-left: 5px;
}

.datepicker--nav-title.-disabled- {
  cursor: default;
  background: 0 0;
}

.datepicker--buttons {
  display: flex;
}

.datepicker--button {
  color: #4EB5E6;
  cursor: pointer;
  border-radius: 4px;
  flex: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 32px;
}

.datepicker--button:hover {
  color: #4a4a4a;
  background: #f0f0f0;
}

.datepicker--time {
  display: flex;
  align-items: center;
  position: relative;
}

.datepicker--time.-am-pm- .datepicker--time-sliders {
  flex: 0 1 138px;
  max-width: 138px;
}

.-only-timepicker- .datepicker--time {
  border-top: none;
}

.datepicker--time-sliders {
  flex: 0 1 153px;
  margin-right: 10px;
  max-width: 153px;
}

.datepicker--time-label {
  display: none;
  font-size: 12px;
}

.datepicker--time-current {
  display: flex;
  align-items: center;
  flex: 1;
  font-size: 14px;
  text-align: center;
  margin: 0 0 0 10px;
}

.datepicker--time-current-colon {
  margin: 0 2px 3px;
  line-height: 1;
}

.datepicker--time-current-hours, .datepicker--time-current-minutes {
  line-height: 1;
  font-size: 19px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  position: relative;
  z-index: 1;
}

.datepicker--time-current-hours:after, .datepicker--time-current-minutes:after {
  content: "";
  background: #f0f0f0;
  border-radius: 4px;
  position: absolute;
  left: -2px;
  top: -3px;
  right: -2px;
  bottom: -2px;
  z-index: -1;
  opacity: 0;
}

.datepicker--time-current-hours.-focus-:after, .datepicker--time-current-minutes.-focus-:after {
  opacity: 1;
}

.datepicker--time-current-ampm {
  text-transform: uppercase;
  align-self: flex-end;
  color: #9c9c9c;
  margin-left: 6px;
  font-size: 11px;
  margin-bottom: 1px;
}

.datepicker--time-row {
  display: flex;
  align-items: center;
  font-size: 11px;
  height: 17px;
  background: linear-gradient(to right, #dedede, #dedede) left 50%/100% 1px no-repeat;
}

.datepicker--time-row:first-child {
  margin-bottom: 4px;
}

.datepicker--time-row input[type=range] {
  background: 0 0;
  cursor: pointer;
  flex: 1;
  height: 100%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
}

.datepicker--time-row input[type=range]::-ms-tooltip {
  display: none;
}

.datepicker--time-row input[type=range]:hover::-webkit-slider-thumb {
  border-color: #b8b8b8;
}

.datepicker--time-row input[type=range]:hover::-moz-range-thumb {
  border-color: #b8b8b8;
}

.datepicker--time-row input[type=range]:hover::-ms-thumb {
  border-color: #b8b8b8;
}

.datepicker--time-row input[type=range]:focus {
  outline: 0;
}

.datepicker--time-row input[type=range]:focus::-webkit-slider-thumb {
  background: #5cc4ef;
  border-color: #5cc4ef;
}

.datepicker--time-row input[type=range]:focus::-moz-range-thumb {
  background: #5cc4ef;
  border-color: #5cc4ef;
}

.datepicker--time-row input[type=range]:focus::-ms-thumb {
  background: #5cc4ef;
  border-color: #5cc4ef;
}

.datepicker--time-row input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  box-sizing: border-box;
  height: 12px;
  width: 12px;
  border-radius: 3px;
  border: 1px solid #dedede;
  background: #fff;
  cursor: pointer;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  margin-top: -6px;
}

.datepicker--time-row input[type=range]::-moz-range-thumb {
  box-sizing: border-box;
  height: 12px;
  width: 12px;
  border-radius: 3px;
  border: 1px solid #dedede;
  background: #fff;
  cursor: pointer;
  -moz-transition: background 0.2s;
  transition: background 0.2s;
}

.datepicker--time-row input[type=range]::-ms-thumb {
  box-sizing: border-box;
  height: 12px;
  width: 12px;
  border-radius: 3px;
  border: 1px solid #dedede;
  background: #fff;
  cursor: pointer;
  -ms-transition: background 0.2s;
  transition: background 0.2s;
}

.datepicker--time-row input[type=range]::-webkit-slider-runnable-track {
  border: none;
  height: 1px;
  cursor: pointer;
  color: transparent;
  background: 0 0;
}

.datepicker--time-row input[type=range]::-moz-range-track {
  border: none;
  height: 1px;
  cursor: pointer;
  color: transparent;
  background: 0 0;
}

.datepicker--time-row input[type=range]::-ms-track {
  border: none;
  height: 1px;
  cursor: pointer;
  color: transparent;
  background: 0 0;
}

.datepicker--time-row input[type=range]::-ms-fill-lower {
  background: 0 0;
}

.datepicker--time-row input[type=range]::-ms-fill-upper {
  background: 0 0;
}

.datepicker--time-row span {
  padding: 0 12px;
}

.datepicker--time-icon {
  color: #9c9c9c;
  border: 1px solid;
  border-radius: 50%;
  font-size: 16px;
  position: relative;
  margin: 0 5px -1px 0;
  width: 1em;
  height: 1em;
}

.datepicker--time-icon:after, .datepicker--time-icon:before {
  content: "";
  background: currentColor;
  position: absolute;
}

.datepicker--time-icon:after {
  height: 0.4em;
  width: 1px;
  left: calc(50% - 1px);
  top: calc(50% + 1px);
  transform: translateY(-100%);
}

.datepicker--time-icon:before {
  width: 0.4em;
  height: 1px;
  top: calc(50% + 1px);
  left: calc(50% - 1px);
}

.datepicker--cell-day.-other-month-, .datepicker--cell-year.-other-decade- {
  color: #dedede;
}

.datepicker--cell-day.-other-month-:hover, .datepicker--cell-year.-other-decade-:hover {
  color: #c5c5c5;
}

.-disabled-.-focus-.datepicker--cell-day.-other-month-, .-disabled-.-focus-.datepicker--cell-year.-other-decade- {
  color: #dedede;
}

.-selected-.datepicker--cell-day.-other-month-, .-selected-.datepicker--cell-year.-other-decade- {
  color: #fff;
  background: #a2ddf6;
}

.-selected-.-focus-.datepicker--cell-day.-other-month-, .-selected-.-focus-.datepicker--cell-year.-other-decade- {
  background: #8ad5f4;
}

.-in-range-.datepicker--cell-day.-other-month-, .-in-range-.datepicker--cell-year.-other-decade- {
  background-color: rgba(92, 196, 239, 0.1);
  color: #ccc;
}

.-in-range-.-focus-.datepicker--cell-day.-other-month-, .-in-range-.-focus-.datepicker--cell-year.-other-decade- {
  background-color: rgba(92, 196, 239, 0.2);
}

.datepicker--cell-day.-other-month-:empty, .datepicker--cell-year.-other-decade-:empty {
  background: 0 0;
  border: none;
}

.slider {
  position: relative;
  overflow: hidden;
}

.slider__wrapper {
  display: flex;
  transition: transform 0.6s ease;
}

.slider__item {
  padding: 100px 0;
  flex: 0 0 100%;
  max-width: 100%;
}

.slider__control {
  position: absolute;
  top: 50%;
  display: none;
  align-items: center;
  justify-content: center;
  width: 40px;
  color: #fff;
  text-align: center;
  opacity: 0.5;
  height: 50px;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
}

.slider__control_show {
  display: flex;
}

.slider__control:hover,
.slider__control:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}

.slider__control_left {
  left: 0;
}

.slider__control_right {
  right: 0;
}

.slider__control::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.slider__control_left::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__control_right::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.menu {
  position: relative;
}
.menu a .parent {
  margin: 0 30px 0 0;
}
.menu li {
  position: relative;
}
.menu__list > li {
  margin: 0 40px 0 0;
}

.sub-menu__list {
  display: none;
  position: absolute;
  left: 50%;
  top: 20px;
  padding: 10px 0 0 0;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 0 0 10px 10px;
}
.sub-menu__list > li a {
  color: black;
}
.sub-menu__link {
  min-width: 200px;
  color: black;
  display: inline-block;
  padding: 5px 10px;
}

.menu__link {
  position: relative;
  color: aqua;
}

.sub-menu__listMain {
  text-align: center;
  padding: 0 20px;
  left: -130%;
}

.sub-menu__listSecondary {
  text-align: center;
  padding: 0 20px;
  left: -70%;
}

.arrow {
  display: none;
  position: absolute;
  right: -30px;
  top: 5px;
  width: 0;
  height: 0;
  border-top: 10px solid white;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}

.arrow.activeArrow {
  transform: rotate(-180deg);
}

.mainLi {
  position: relative;
}

body.mouse .menu__list > li:hover .sub-menu__list {
  display: block;
}
body.mouse .sub-menu__list > li:hover .sub-sub-menu__list {
  display: block;
}

body.touch .arrow {
  display: block;
}
body.touch .sub-menu__list.openSub {
  display: block;
}
body.touch .sub-sub-menu__list.openSub {
  display: block;
}

@media (max-width: 767px) {
  .sub-menu__list {
    position: static;
  }
  .sub-menu__list li {
    padding: 0;
    margin: 0;
  }

  .sub-menu__link {
    padding: 0 0 10px 0;
  }

  .sub-menu__listMain {
    left: 0px;
  }

  .sub-menu__listSecondary {
    left: 0px;
  }
}
.classOpacity {
  opacity: 0;
  transition: all 0.6s ease;
}

.classOpacity._active {
  opacity: 1;
  transition: all 0.6s ease;
}

.classNeed_1 {
  transform: translate(120%, 0px);
  opacity: 0;
  transition: all 0.3s ease 0s;
}

.classNeed_1._active {
  transform: translate(0px, 0px);
  opacity: 1;
  transition: all 0.3s ease 0.8s;
}

.overflow {
  overflow: hidden;
}

.classLeft {
  transform: translateX(5%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

.classLeft._active {
  transform: translateX(0%);
  opacity: 1;
  transition: all 0.8s ease 0s;
}

.classRight {
  transform: translateX(-5%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

.classRight._active {
  transform: translateX(0%);
  opacity: 1;
}

.classBottom {
  transform: translateY(20%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

.classBottom._active {
  transform: translateX(0%);
  opacity: 1;
}

.anim_show {
  transform: translate(0px, 120%);
  opacity: 0;
}

.anim_show._active,
._active .anim_show {
  transform: translate(0px, 0px);
  opacity: 1;
}

.classNeed_2 {
  transform: scale(0);
  transition: all 0.3s ease 0s;
}

.classNeed_2._active {
  transform: scale(1);
}

.obj li {
  display: none;
  transform: translate(120%, 0px);
}

.obj._active li {
  transform: translate(0px, 0px);
}

.obj._active li:nth-child(1) {
  transition: all 0.8s ease 0s;
}

.obj._active li:nth-child(2) {
  transition: all 0.8s ease 0.2s;
}

.obj._active li:nth-child(3) {
  transition: all 0.8s ease 0.4s;
}

.obj._active li:nth-child(4) {
  transition: all 0.8s ease 0.6s;
}

.obj._active li:nth-child(5) {
  transition: all 0.8s ease 0.8s;
}

.obj_active li:nth-child(1) {
  transition: transform 0.8s ease 0s;
}
.obj_active li:nth-child(2) {
  transition: transform 0.8s ease 0s 0.4s;
}
.obj_active li:nth-child(3) {
  transition: transform 0.8s ease 0s 0.6s;
}
.obj_active li:nth-child(4) {
  transition: transform 0.8s ease 0s 0.8s;
}
.obj_active li:nth-child(5) {
  transition: transform 0.8s ease 0s 1s;
}

.bookAnim {
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all 0.8s ease;
  position: relative;
}
.bookAnim__content {
  opacity: 0;
  transition: all 0.8s ease;
  background-color: white;
  transform: perspective(600px) translate(100%, 0%) rotateX(0deg) rotateY(-120deg);
}
.bookAnim._active .bookAnim__content {
  opacity: 1;
  transition: all 0.8s ease;
  transform: perspective(600px) translate(0px, 0%) rotateX(0deg) rotateY(0deg);
}

.progresBar {
  z-index: 1000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.progress-percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: #339999;
}

#prelouder {
  z-index: 10000;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  font-family: "Source Sans Pro", sans-serif;
  min-height: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 20px;
}

.title {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1 0 auto;
}

.header {
  margin: 0 0 100px 0;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header__text {
  color: white;
  right: 15%;
  position: absolute;
  font-size: calc(16px + 7 * ((100vw - 320px) / (1280 - 320)));
}
.header__squere {
  right: 10%;
  position: absolute;
  height: 300px;
  width: 400px;
}
.header .wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
}

.phonefon {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  background: url("../img/fonforphones.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  display: none;
}

.content__text {
  font-size: calc(15px + 10 * ((100vw - 320px) / (1280 - 320)));
  margin: 0 auto;
  max-width: 800px;
  height: 100px;
  padding: 30px 0 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content__subtitle {
  text-align: right;
}
.content__buttPerpose {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #339999;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}
.content__buttPerpose:hover {
  background-color: aqua;
}
.content__buttPerpose a {
  padding: 20px 33px;
  color: white;
}
.content .content__text-subtitle {
  font-size: calc(15px + 5 * ((100vw - 320px) / (1280 - 320)));
  padding: 20px 20px 0 20px;
}
.content__countries {
  margin-bottom: 40px;
  display: flex;
}
.content__niderland {
  margin-bottom: 40px;
}
.content__mram {
  margin-bottom: 40px;
}
.content .img-costil {
  width: 100%;
  overflow: hidden;
}

.why {
  text-align: center;
  padding: 0px 20px;
  margin: 0 auto;
  max-width: 800px;
}
.why__title {
  font-size: 30px;
  padding: 0 0 40px 0;
}
.why__container {
  justify-content: space-between;
  display: flex;
  margin-bottom: 50px;
}
.why .kvadrati {
  position: relative;
  flex: 1 1 25%;
}
.why .kvadrati::before {
  content: "";
  display: block;
  padding-top: 100%;
}
.why .why__item {
  margin: 20px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.why .why__item .ten-years span {
  display: inline-block;
  padding-top: 20%;
  font-size: 30px;
}
.why .why__item h3 {
  padding-top: 40px;
  font-size: 24px;
}
.why .why__item .why__item-subtitle {
  padding-top: 50px;
  font-size: 18px;
}
.why .why__item .why__item-img {
  margin: 0 auto;
  padding-top: 20%;
  max-height: 80px;
  max-width: 80px;
}
.why .why__item .why__item-img img {
  width: 100%;
  height: 100%;
}

.why__item-title {
  font-family: "Oswald", sans-serif;
}

.footer {
  position: relative;
  display: flex;
  background-color: #339999;
  padding: 20px;
  flex: 0 0 auto;
  display: flex;
}
.footer__title {
  font-family: "Oswald", sans-serif;
  font-size: calc(15px + 8 * ((100vw - 320px) / (1280 - 320)));
  color: white;
  padding: 0 0 20px 0;
}
.footer .block_spoilers {
  display: flex;
}
.footer span {
  font-weight: 400;
  color: white;
}
.footer .block_spoilers {
  flex: 1 1 35%;
}
.footer .companyText {
  text-align: right;
}
.footer__link {
  transition: 0.3s;
  line-height: 20px;
  font-size: calc(12px + 5 * ((100vw - 320px) / (1280 - 320)));
  color: #000;
}
.footer__link:hover {
  color: #fff;
  transition: 0.3s;
}
.footer .footer__app {
  margin-top: 5%;
  text-align: center;
  flex: 1 1 25%;
}
.footer .footer__app-title {
  margin-bottom: 40px;
}
.footer .appStore {
  margin: 0 auto;
  width: 180px;
  height: 75px;
}
.footer .appStore img {
  width: 100%;
  height: 100%;
}
.footer .appleStore {
  margin: 0 auto;
  width: 160px;
  height: 50px;
}
.footer .appleStore img {
  width: 100%;
  height: 100%;
}
.footer__etc {
  flex: 1 1 40%;
  position: relative;
  font-size: calc(12px + 5 * ((100vw - 320px) / (1280 - 320)));
}
.footer .footer__logo {
  display: block;
  margin: 10px;
  width: 100px;
  height: 100px;
  position: absolute;
  background: url(../img/logo-bottom.png) no-repeat;
  background-size: cover;
  background-position: center;
}
.footer .copyraiting {
  padding: 0 20px 0 0;
  position: absolute;
  right: 0;
  bottom: 10%;
}
.footer__social-links {
  width: 150px;
  bottom: 10%;
  position: absolute;
  display: flex;
  justify-content: space-between;
}
.footer__social-links .social-link a {
  height: 100%;
  width: 100%;
}
.footer__social-links .social-link a i {
  transition: 0.3s ease;
  font-size: calc(20px + 15 * ((100vw - 320px) / (1280 - 320)));
  color: white;
}
.footer__social-links .social-link a .fa-vk:hover {
  transition: 0.3s ease;
  color: dodgerblue;
}
.footer__social-links .social-link a .fa-twitter:hover {
  transition: 0.3s ease;
  color: lightskyblue;
}
.footer__social-links .social-link a .fa-instagram:hover {
  transition: 0.3s ease;
  color: darkmagenta;
}
.footer__text {
  padding: 20px;
  border-top: 2px solid white;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  text-align: right;
}
.footer__text p {
  padding: 60px 0px 0px 0px;
}
.footer__telephone {
  padding: 20px 0;
  color: white;
}

@media (max-width: 1180px) {
  .footer__logo {
    display: none !important;
  }

  .footer__social-links {
    width: 130px;
  }
}
@media (max-width: 1000px) {
  .header__text {
    width: 200px;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .header__squere {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .scene {
    display: none;
  }

  .wave {
    display: none;
  }

  .phonefon {
    display: block;
  }

  .countrieDesk {
    bottom: 5px;
    line-height: 30px;
  }

  .content__text {
    overflow: auto;
    padding: 0;
    height: 100px !important;
  }

  .content__text-title {
    padding: 20px 20px 0px !important;
  }

  .content__text-subtitle {
    padding: 0 20px !important;
  }

  .footer {
    text-align: center;
    flex-direction: column;
  }
  .footer .block {
    flex-direction: column;
  }
  .footer__text {
    padding-bottom: 0;
    border: none;
    text-align: center;
  }
  .footer__text p {
    padding-top: 10px;
  }
  .footer .footer__bottom {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .footer__social-links {
    margin: 0 auto;
    padding-bottom: 20px;
    position: static;
    order: 1;
    text-align: center;
  }
  .footer .footer__links {
    text-align: center;
  }
  .footer .copyraiting {
    padding: 0;
    text-align: center;
    position: static;
    margin: 0 auto;
    order: 2;
  }
  .footer .footer__app {
    margin: 0;
  }
  .footer .footer__app-title {
    margin: 0;
  }
}
@media (max-width: 768px) {
  .header {
    margin-bottom: 60px;
  }

  .content__countries {
    flex-direction: column;
  }

  .content__text {
    padding: 0 20px;
    flex-direction: column;
  }

  .content__text {
    height: 200px !important;
    margin-bottom: 40px;
  }

  .content__buttPerpose {
    margin: 0 0 20px 0;
  }

  .block-imgOther {
    height: 100%;
    width: 200%;
  }
  .block-imgOther .block-text {
    width: 50%;
    text-align: left;
  }

  .content__niderland {
    margin-bottom: 20px;
  }

  .content__countries {
    margin-bottom: 20px;
  }

  .content__mald {
    margin-bottom: 20px;
  }

  .kvadrati {
    width: 80%;
  }

  .why__item {
    position: relative;
  }

  /* .why__item-title {
  	font-size: 40px !important;
  	padding-top: 5px !important;
  }

  .why__item-subtitle{
  	font-size: 30px !important;
  	padding-top: 5px !important;
  } */
  .why__item-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .why__item-img img {
    height: 100px !important;
    width: 100px !important;
  }

  .kvadrati::before {
    padding-top: 0%;
  }
}
@media (max-width: 660px) {
  .content__subtitle {
    padding-bottom: 20px !important;
  }

  .content__text-subtitle {
    overflow: scroll;
    text-align: left;
    padding: 5px 20px 40px 20px !important;
    margin-bottom: 40px !important;
  }

  .why__item-img {
    padding-top: 30% !important;
  }
  .why__item-img img {
    height: 60px !important;
    width: 60px !important;
  }
}
@media (max-width: 600px) {
  .why__item-title {
    font-size: 18px !important;
    padding-top: 5px !important;
  }

  .why__item-subtitle {
    font-size: 12px !important;
    padding-top: 5px !important;
  }

  .why__item-img img {
    height: 40px !important;
    width: 40px !important;
  }
}
@media (max-width: 460px) {
  .why__item-title {
    font-size: 20px !important;
    padding-top: 5px !important;
  }

  .why__item-subtitle {
    font-size: 15px !important;
    padding-top: 5px !important;
  }

  .why__container {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px !important;
  }

  .why__item-img img {
    padding-top: 10% !important;
    height: 80px !important;
    width: 80px !important;
  }
}
@media (max-width: 400px) {
  .header__squere {
    height: 200px !important;
    width: 250px !important;
  }

  .countrieDesk {
    font-size: 12px;
    line-height: 20px;
    bottom: 0;
  }

  .content__text-title {
    padding: 5px 20px 0px !important;
  }

  .content__subtitle {
    text-align: center;
  }

  .why__item-img img {
    padding-top: 10% !important;
    height: 50px !important;
    width: 50px !important;
  }
}
@media (max-width: 350px) {
  .content__text-subtitle {
    overflow: scroll;
    text-align: left;
    padding: 5px 20px 50px 20px !important;
    margin-bottom: 50px !important;
  }
}
@media (max-width: 300px) {
  .header__squere {
    height: 170px !important;
    width: 220px !important;
  }
}